# Virtual Environment
med_env/
venv/
env/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Binary / test files
encrypted_xray.bin

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Streamlit cache
.streamlit/

# Jupyter
.ipynb_checkpoints/
