# Virtual Environment
chest_xray/
med_env/
venv/
env/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Binary / test files
encrypted_xray.bin

# Model files (too large for GitHub — deploy via HuggingFace separately)
*.h5
*.weights.h5
*.keras
medchain_model.keras

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Streamlit cache
.streamlit/

# Jupyter
.ipynb_checkpoints/
